<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>haha</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">

    <!-- JS -->
    

</head>
<body>

    <div class="misery">

        <h1>Press me</h1>

        <div class="arrow1"><img src="/img/arrow1.png" alt="#" width="200px"></div>

            <div class="cat"><a href="./register"><img src="/img/oh the misery.jpg" alt="button" width="300px"></a></div>

        <div class="arrow2"><img src="/img/arrow2.png" alt="#" width="200px"></div>

    </div>
</body>
</html>