<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">

    
    <!-- JS -->
    <script src="/js/script.js"></script>
</head>
<body>

    <h1>New Password</h1>

    <label for="Password">Password:</label>
        <input type="password" name="Passord" id="passord" placeholder="Password"> <br>

    <label for="Confirm Password">Confirm Password:</label>
        <input type="password" name="Confirm Passord" id="confirm" placeholder="Confirm Password"> <br><br>

    <button><a href="./login">Back</a></button>
    <button onclick="window.location.reload()">Submit</button>
</body>
</html>